docker.enabled = true
profiles {
  standard {
    executor {
      name = 'local'
    }
    docker.enabled = true
  }
}

manifest {
  name        = 'ichor-tumor-fraction'
  description = 'BAM (hg19) -> liftover (hg38) -> 1Mb read counts -> ichorCNA tumor fraction'
  author      = 'Shivani'
}

params {
  input_bams  = "input_bams/*.bam"
  chain_file  = "ref/hg19ToHg38.over.chain.gz"
  chrom_sizes = "ref/hg38.chrom.sizes"
  bin_size    = 1_000_000
  pon        = "ref/ichorCNA/HD_ULP_PoN_hg38_1Mb_median_normAutosome_median.rds"
  gc_wig     = "ref/ichorCNA/gc_hg38_1000kb.wig"
  map_wig    = "ref/ichorCNA/map_hg38_1000kb.wig"
  centromere = "ref/ichorCNA/GRCh38.GCA_000001405.2_centromere_acen.txt"
  hg38_fa    = "ref/hg38.fa"
}

process {
  // Use one unified image for everything
  container = 'myimage:latest'
  errorStrategy = 'terminate'
  maxRetries = 1

  withName: LIFT_OVER_BAM { cpus = 4; memory = '12 GB' }
  withName: BAM_TO_BED    { cpus = 2; memory = '6  GB' }
  withName: BAM_TO_WIG    { cpus = 2; memory = '6  GB' }
  withName: RUN_ICHORCNA  { cpus = 8; memory = '16 GB' }
  withName: FINAL_REPORT  { cpus = 1; memory = '2  GB' }
}

// Built-in run reports & per-task resources
timeline {
  enabled = true
  file    = "results/reports/timeline.html"
}
report {
  enabled = true
  file    = "results/reports/report.html"
}
trace {
  enabled = true
  file    = "results/reports/trace.tsv"
  fields  = 'task_id,process,tag,status,exit,cpus,memory,read_bytes,write_bytes,submit,start,complete,duration,realtime,%cpu,rss,peak_rss'
}
dag {
  enabled = true
  file    = "results/reports/flowchart.dot"
}
